
@{
    ViewBag.Title = "Index";
}
<div class="search-section">
    <div class="masthead single-masthead">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-md-auto">
                  <h1 class="center">Painel Administrativo</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol>
            <li>
                <a href="/Categorias">Categorias</a>
            </li>
            <li>
                <a href="/Tipo_Documento">Documentos</a>
            </li> 
            <li>
                <a href="#">Usuarios</a>
            </li>
            <li>
                <a href="#">Estatisticas</a>
            </li> 
            <li>
                <a href="#">Solicitações</a>
            </li>
           
        </ol>
    </div>
</div>

<!-- Main Content -->
<div class="content-wrapper">
    <div class="container">
        <div class="col-lg-10 mx-md-auto " style="min-height:600px">

            <h1 class="center">Conteúdo Indisponivel</h1>
        </div>
    </div>
</div>