
@{
    ViewBag.Title = "Perdidos";
}
<div class="search-section">
    <div class="masthead single-masthead">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-md-auto">
                    <h1 class="center">Nenhuma informação disponível por enquanto</h1>

                </div>
            </div>
        </div>
    </div>
</div>